<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBAccess" type="OY.AutoClass.DBAccess.Config.DBAccessConfig,OY.AutoClass.DBAccess"/>
  </configSections>
  <DBAccess>
    <FilePath value="" />
    <Connection type="OY.AutoClass.DBAccess.DBAccess.SqlServer" server="192.168.23.227"
                database="ECL_ASOS_DEV" user="ecldev" password="800ts2011$">
    </Connection>
  </DBAccess>
</configuration>